{{ define "title" }}{{ "Topics" }} - {{ .Site.Title }}{{ end }}
{{ define "content" }}
<!-- Custom Categories -->
  {{ $namec := "categories" }}
  {{ $termsc := .Site.Taxonomies.categories.ByCount -}}
  {{ $lengthc := len $termsc -}}
<div class="categories">
  <div class="categories-title">
      {{ if eq $lengthc 0 }}
        {{ T "zeroCategoryCounter" }}
      {{ else }}
        {{ T "categoryCounter" $lengthc }}
      {{ end }}
  </div>
  <div class="categories-tags">
      {{ range $key, $value := $termsc }}
        <a class="category-link" href="{{ $namec | relLangURL }}/{{ $value.Term | urlize }}/">
          {{ $value.Term }}
          <span class="category-count">{{ len $value.Pages }}</span>
        </a>
      {{ end }}
  </div>
</div>

<hr class="hr-half" />
<!-- Custom Tags -->
  {{ $namet := "tags" }}
  {{ $termst := .Site.Taxonomies.tags.ByCount -}}
  {{ $lengtht := len $termst -}}
    <div class="tag-cloud">
      <div class="tag-cloud-title">
        {{ if eq $lengtht 0 }}
          {{ T "zeroTagCounter" }}
        {{ else }}
          {{ T "tagCounter" $lengtht }}
        {{ end }}
      </div>
      <div class="tag-cloud-tags">
        {{ range $key, $value := $termst }}
          <a class="tag-link" href="{{ $namet | relLangURL }}/{{ $value.Term | urlize }}/"><code>
            {{ $value.Term }}</code>
            <span class="tag-count">{{ len $value.Pages }}</span>
          </a>
        {{ end }}
      </div>
    </div>
{{ end }}
