.body {
    color: red!important;
}

.quote {
    line-height: 1.5;
    font-style: italic;
}

img {
    max-width: 80%;
    object-fit: contain;
    max-height: 80%;
}

.TOC ol li, .TOC ul li {
    font-size: 45px;
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    line-height: 1.25;
}

li {
    line-height: 1.5;
}

.flex>p{
    display: inline;
    vertical-align: middle;
    margin: auto 0;
    font-size: 5em;
}

.flex>p>img {
    vertical-align: middle;
    max-width: 25%;
    
}

code {
    color: #333;
    background: #f8f8f8;
    padding: 0 5px;
}

.largest {
    font-size: xx-large;
}

.larger {
    font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 12px;
    top: 0;
}

.flex-top {
    vertical-align: top;
}

.bigpicture {
    max-width: 550px;
    margin: 0 auto;
}

.imgblock * {
    margin: 0 auto;
    display: block;
}

.centerblock {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
