.body {
    color: red!important;
}

.quote {
    line-height: 1.5;
    font-style: italic;
}

img {
    max-width: 80%;
    object-fit: contain;
    max-height: 80%;
}

.TOC ol li, .TOC ul li {
    font-size: 45px;
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    line-height: 1.25;
}

li {
    line-height: 1.5;
}

.flex>p{
    display: inline;
    vertical-align: middle;
    margin: auto 0;
    font-size: 5em;
}

.flex>p>img {
    vertical-align: middle;
    max-width: 25%;
    
}
