<!-- js -->
<!-- <script src="{{ "lib/highlight/highlight.pack.js?v=20171001" | relURL }}"></script> -->
<script type="text/javascript" src="{{ "lib/jquery/jquery-3.2.1.min.js" | relURL }}"></script>
{{- if .Site.Params.publicCDN.enable }}
  {{ .Site.Params.publicCDN.slideout | safeHTML }}
  {{ if .Site.Params.fancybox }}{{ .Site.Params.publicCDN.fancyboxJs | safeHTML }}{{ end }}
{{- else -}}
  <script type="text/javascript" src="{{ "lib/slideout/slideout-1.0.1.min.js" | relURL }}"></script>
  {{ if .Site.Params.fancybox }}<script type="text/javascript" src="{{ "lib/fancybox/jquery.fancybox-3.1.20.min.js" | relURL }}"></script>{{ end }}
{{- end -}}

<script type="text/javascript" src="{{ "dist/even.min.js?v=3.1.1" | relURL }}"></script>

<!-- custom Active-Link function -->
<script>
jQuery(function () {
    var page = location.pathname.split('/')[1];
    if (page == "") {page = "home"};
    if (page == "post") {page = "posts"};
    if (page == "categories") {page = "tags"};
    $('nav ul a').each(
      function() {
      if (page == this.id.toLowerCase()) {
        $(this).addClass('menu-active');
        }
      })
})

jQuery(function () {
  $("pre").addClass("r");
})
</script>
<!-- custom Ende -->

<!--
{{- if and (or .Params.mathjax (and .Site.Params.mathjax (ne .Params.mathjax false))) (or .IsPage .IsHome) }}
  <script type="text/javascript">
    window.MathJax = {
      {{ if or .Params.mathjaxEnableSingleDollar (and .Site.Params.mathjaxEnableSingleDollar (ne .Params.mathjaxEnableSingleDollar false)) -}}
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
      {{ end -}}
      {{ if or .Params.mathjaxEnableAutoNumber (and .Site.Params.mathjaxEnableAutoNumber (ne .Params.mathjaxEnableAutoNumber false)) -}}
        TeX: {equationNumbers: {autoNumber: "AMS"}},
      {{ end -}}
      showProcessingMessages: false,
      messageStyle: 'none'
    };
  </script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{- end }}
-->
